img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: 500;
}

li > span {
  font-weight: 500;
}

button,
.mode {
  cursor: pointer;
}

.mode > span {
  display: flex;
  align-items: center;
}

.container {
  height: 100vh;
}

.light-mode,
.light-container {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.dark-mode,
.dark-container {
  background-color: hsl(0, 0%, 98%);
  color: black;
}

.dark-mode,
.light-mode,
.dark-container,
.light-container {
  transition: all ease-in 0.3s;
}
