body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0deg 0% 99%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select, input {
  width: 100%;
  border-radius: 6px;
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 17px;
  padding-bottom: 17px;
}

input {
  max-width: 480px;

}

select {
  max-width: 200px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dark-header,
.dark-card,
.button-dark-mode,
.input-dark-mode,
.select-dark-mode {
  background-color: hsl(0, 0%, 100%);
  color: black;
  box-shadow: 0px 0px 4px hsl(0, 0%, 52%);
}

.card {
  max-width: 264px;
  border-radius: 6px;
}

.light-header,
.light-card,
.button-light-mode,
.input-light-mode,
.select-light-mode {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 4px hsl(207, 26%, 17%);
}

button {
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 10px;
  margin-bottom: 16px;
}
